@font-face {
  font-family: 'Classy Pen';
  src: url('/fonts/ClassyPenRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body.no-scroll {
  overflow: hidden !important;
}